html {
  font-size: 10px;
}

::-webkit-scrollbar 
{
  width: 0px; /* Hide Scroll Bar */
}

body {
  color: #000000D0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
  width: 100vw;
}

aside {
  background-color: #FFFFFF; /* light-gray-1 */
  border-right: solid 0.2rem #E0E0E0; /* light-gray-2 */
  width: 15vw;
}

aside > img {
  height: auto;
  padding: 1.2rem 1.2rem 1.2rem 3rem;
  width: calc(80% - 4.2rem);
}

body,
ul,
td {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  list-style: none;
  padding: 1.5rem 0.5rem;
  user-select: none;
}

nav {
  background-color: #FFFFFF;
  border-bottom: solid 0.2rem #E0E0E0; /* light-gray-2 */
  width: 100%;
}

body > div,
aside li,
nav ul {
  display: flex;
  flex-direction: row;
}

aside li,
nav ul li {
  align-items: center;
}

nav ul li {
  padding-left: 1.5rem;
}

aside li,
nav ul li {
  cursor: pointer;
}

aside li span {
  font-size: 1.8rem;
}

aside li span,
section thead {
  font-weight: 500;
}

aside li span,
aside li img,
section table td:first-child,
section table td:last-child {
  padding-left: 2rem;
}

aside li.active,
aside li:hover {
  background-color: #F0F0F0;
}

main {
  background-color: #F0F0F0;
  width: calc(85vw - 0.2rem);
}

body div {
  width: 100%;
}

nav ul {
  justify-content: flex-end;
  margin: 0 1.2rem;
}

nav ul li:first-child {
  align-items: center;
  display: flex;
  margin-right: auto;
}

nav ul li:first-child img {
  padding-right: 2rem;
  width: 3rem;
}

nav ul li:first-child span {
  padding-left: 0.5rem;
}

nav ul li:first-child span:nth-child(2){
  font-size: 2rem;
  font-weight: 500;
}

nav ul li:first-child span:nth-child(3){
  font-size: 1.8rem;
  font-weight: 400;
}

main {
  display: grid;
  gap: 2rem;
  grid: none / repeat(12, 1fr);
  padding: 4rem;
}

main section {
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  box-shadow: 0.5rem 0.5rem 2rem #00000010;
  grid-column: span 4;
}

main section:not(.table, .player-table) {
  padding: 2rem;
}

section.tall {
  grid-row: span 2;
}

section.wide {
  grid-column: span 8;
}

section.quarter {
  grid-column: span 3;
}

section h1 {
  font-size: 2.2rem;
  margin-top: 0;
}

section h2,
section.table span {
  color: #000000A0;
  font-size: 1.6rem;
  font-weight: 300;
}

section.table ul li > span:nth-child(2) {
  color: #000000D0;
}

section.table h1,
section.table h2,
section.player-table h1 {
  padding: 2rem 0 0 2rem;
}

section.table ul li,
section.player-table ul li {
  padding: 0.8rem 2rem;
}

section.table ul li > span:first-child {
  color: #000000D0;
  display: inline-block;
  font-weight: 500;
  width: 4.5rem;
}

section.table ul li span > span {
  padding-left: 0.5rem;
}

section.table ul li:not(#bench) > span:last-child {
  float: right;
}

section.table ul li:hover {
  background-color: #00000010;
}

section.table ul:last-child li:last-child {
  border-radius: 0 0 1.5rem 1.5rem;
}

/* Best Available */

section.player-table ul {
  display: flex;
  flex-direction: column;
  height: calc(100% - 6rem);
}

section.player-table li {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

section.player-table li:hover {
  background-color: #00000010;
}

section.player-table li:last-child {
  border-radius: 0 0 1.5rem 1.5rem;
  padding-bottom: 2rem;
}

section.player-table ul li img {
  border-radius: 50%;
  width: 8rem;
}

section.player-table ul li > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.player-table ul li div.player-information {
  padding-left: 2rem;
  text-align: left;
  width: 20rem;
}

section.player-table ul li div.player-information div {
  align-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

section.player-table ul li div.player-information div span {
  align-self: center;
}

section.player-table span {
  font-size: 1.6rem;
  font-weight: 300;
}

section.player-table span.player-name {
  color: #000000D0;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
  width: 30rem;
  white-space: nowrap;
}

section.player-table span.player-position,
section.player-table span.player-team,
section.player-table span.player-bye,
section.player-table span.player-status {
  color: #000000C0;
  font-size: 1.6rem;
  padding-right: 0.5rem;
}

section.player-table span.player-status {
  background-color: #1F63B3;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4rem;
}

section.player-table div.player-stat-1 span:first-child,
section.player-table div.player-stat-2 span:first-child,
section.player-table div.player-stat-3 span:first-child {
  font-size: 1.4rem;
}

section.player-table div.player-stat-1 span:last-child,
section.player-table div.player-stat-2 span:last-child,
section.player-table div.player-stat-3 span:last-child {
  font-size: 2.4rem;
}

section.player-table div.player-stat-big span:first-child {
  font-size: 2.8rem;
}

section.player-table ul li:first-child div.player-stat-big span:first-child {
  color: #408030;
  font-weight: 400;
}

section.player-table div.player-stat-big span:last-child {
  font-size: 1.4rem;
}