html {
  font-size: 10px;
}

body {
  color: #3D4E66;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  width: 100vw;
}

aside {
  width: 15vw;
}

aside > img {
  height: auto;
  padding: 1.2rem 1.2rem 1.2rem 3rem;
  width: calc(80% - 4.2rem);
}

body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 1.5rem 0.5rem;
}

body,
aside li {
  display: flex;
  flex-direction: row;
}

aside li {
  align-items: center;
  cursor: pointer;
}

aside li span {
  font-size: 1.8rem;
  font-weight: 500;
}

aside li span,
aside li img {
  padding-left: 2rem;
}

aside li.active,
aside li:hover {
  background-color: #FAFAFA;
}

hr {
  color: #FAFAFA;
  margin: 0;
}

body div {
  width: 85vw;
}

